.dynamicImg{
    cursor: pointer;
    transition: all 0.8s;
}
.dynamicImg:hover{
    transform: scale(1.08,1.08);
}


.navbar-logo-small{
	height: 30px;
}

.btn-link{
	padding: 0px;
}

.divider-short{
	display: block;
	width: 60px;
	height: 1px;
	margin: 0 auto;
	margin-bottom: 10px;
	background: #000;
}


@font-face {font-family: 'webfont';
    src: url('font/webfont.eot'); /* IE9*/
    src: url('font/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/webfont.woff') format('woff'), /* chrome、firefox */
    url('font/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('font/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}


.no-padding-right{
	padding-right: 0px;
}

.panel-body .form-horizontal .form-group{
	margin-bottom: 3px;
}

.panel-body .form-horizontal .form-group .form-control{
	border: none;
	border-bottom: 1px solid;
	border-radius: 0px;
	background: #fff;
	padding-bottom: 0px;
	height: 23px;
	box-shadow: none;
}

.panel-body .form-horizontal .form-group .form-control[disabled]{
	cursor: text;
	border: none;
}

@media (min-width: 768px){}
	.form-horizontal .control-label{
		text-align: left;
	}
td.details-control {
   background: url('../../img/details_open.png') no-repeat center center;
   cursor: pointer;
}
tr.shown td.details-control {
   background: url('../../img/details_close.png') no-repeat center center;
}
.mask {  
      position: absolute; top: 0px; filter: alpha(opacity=60); background-color: #777;     
      z-index: 1002; left: 0px;     
      opacity:0.5; -moz-opacity:0.5;    
      display: flex;justify-content: center;align-items: center;
      width: 100%;  height: 100%;
 }   
.over-zone {
   border: 2px dashed lavender;
   height: 100px;
   padding: 4px;
} 
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}
.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}
/* style 1 */

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #337ab7;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #2e6da4;
}
/* style 2 */

.inputfile-2 + label {
    color: #337ab7;
    border: 2px solid currentColor;
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
    color: #722040;
}

.topbar-header-name{
    font-size: 17px;
}

.topbar-user-entrance-logo-img{
    height: 30px;
    width: 30px;
}

.product-item-bottom{
    border-bottom: 2px solid hsla(0,0%,100%,.2);
}

.card-bottom{
    border-bottom: 1px solid #e9e9e9;
}

.card-bottom-2{
    padding: 10px;
    border-top: 1px dashed #bcbcbc;
    font-size: 24px;
    height: 100px;
}

.card-wide{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.page-content{
    position:relative;
    height:calc(100vh - 50px)
}

.input-button-run-big{
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: 10px
}
.input-button-run-big-2{
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
}

.card-head-2{
    position: relative;
    padding-left: 16px;
    margin-bottom: -1px;
    display: table;
    width: 100%;
    height: 40px;
    border: 1px solid #e1e6eb;
    border-left: 3px solid #778;
    background-color: #f4f5f9;
    line-height: 40px;
    font-size: 18px;
}

.small-card{
    min-width: 35.3%;
    min-height: 178px;
    border: 1px solid #ddd;
    margin-right: 16px;
}

.small-card-head{
    background-color: #f9f9f9;
    height: 40px;
    line-height: 36px;
    padding-left: 16px;
    font-size: 15px;
}

.small-card-content{
    padding: 20px 20px 30px 20px;
    overflow: hidden;
    margin-left: 55px;
}
