<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>数据匿名中心</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/metisMenu.min.css" rel="stylesheet">
    <link href="/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" >
    <link href="/css/sb-admin-2.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet" >
    <link href="/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="/css/select.dataTables.min.css" rel="stylesheet">
    <link href="/css/editor.dataTables.min.css" rel="stylesheet">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/metisMenu.min.js"></script>
    <script src="/js/sb-admin-2.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.buttons.min.js"></script>
    <script src="/js/dataTables.select.min.js"></script>
    <script src="/js/dataTables.editor.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-popups.js"></script>
    <script src="/js/custom/ExpandNodeModify.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper" data-ng-app="expandNodeModifyApp" data-ng-controller="expandNodeModifyCtrl">

    <!-- Navigation -->
    <div ng-include="'/htmlTemplates/Head.html'"></div>

    <!-- Page Content -->
    <div  id="page-wrapper">
        <div class="container-fluid">
            <div class="row  page-header">
                <div class="col-lg-2">
                    <h1>拓展节点维护</h1>
                </div>
                <div class="col-lg-8"></div>
                <div class="col-lg-2" style="text-align: right">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <label style="font-size:18px;font-weight:normal;padding-right: 15px">拓展文件：</label>
                    <select id="Select" class="selectpicker" data-width="220PX"></select>
                    <h4>表单列表：</h4>
                    <div class="form-group">
                        <select multiple class="form-control" style="height:600px;width:350px">
                            <option data-ng-repeat="x in fromList" ng-dblclick="selectTemp(x)">{{x}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-8">
                    <h4>原型节点：</h4>
                    <table id="tempdata" class="display" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th></th>
                            <th>节点英文名</th>
                            <th>节点中文名</th>
                            <th>节点含义</th>
                            <th>隐私等级</th>
                        </tr>
                        </thead>
                    </table>
                    <dialog ng-if="sc.open" modal  close="sc.open=false">
                        <div dialog-title>保存更新</div>
                        <div dialog-content>注意：修改保存后无法还原！</div>
                        <div dialog-buttons><button data-ng-click="$close();saveChange()">确定</button><button ng-click="$close()">取消</button></div>
                    </dialog>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->


</div>
</body>
</html>
