<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:color="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>数据匿名中心</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/metisMenu.min.css" rel="stylesheet">
    <link href="/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" >
    <link href="/css/sb-admin-2.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet" >
    <link href="/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="/css/select.dataTables.min.css" rel="stylesheet">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/metisMenu.min.js"></script>
    <script src="/js/sb-admin-2.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.buttons.min.js"></script>
    <script src="/js/dataTables.select.min.js"></script>
    <script src="/js/highcharts.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-popups.js"></script>
    <script src="/js/custom/FieldFormShow.js"></script>
    <script src="/htmlTemplates/Head.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper"  data-ng-app="fieldFormShowApp">

    <!-- Navigation -->
    <div  data-ng-controller="headCtrl">
        <ng-include src="'/htmlTemplates/Head.html'"></ng-include>
    </div>

    <!-- Page Content -->
    <div id="page-wrapper" data-ng-controller="fieldFormShowCtrl">
        <div class="container-fluid">
            <div class="row  page-header">
                <div class="col-lg-2" style="width: auto">
                    <h1>表单查看</h1>
                </div>
                <div class="col-lg-3" style="padding-top: 25px">
                    <select id="Select" class="selectpicker" data-width="auto" data-live-search="true" data-size="10"></select>
                </div>
                <div class="col-lg-3" style="padding-left: 25px;padding-top: 30px"></div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">表单基本信息</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <span style="font-size: 15px;font-weight:bolder;">创建者:</span><p style="display: inline-block;padding-left: 5px;font-size: 14px">{{userName}}</p>
                                </div>
                                <div class="col-lg-5">
                                    <span style="font-size: 15px;font-weight:bolder;" >模板:</span><p style="display: inline-block;padding-left: 5px;font-size: 14px">{{father}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <span style="font-size: 15px;font-weight:bolder;" >创建日期:</span><p style="display: inline-block;padding-left: 5px;font-size: 14px">{{createTime}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <span style="font-size: 15px;font-weight:bolder;" >最近修改日期:</span><p style="display: inline-block;padding-left: 5px;font-size: 14px">{{lastChangeTime}}</p>
                                </div>
                                <div class="col-lg-4">
                                    <span style="font-size: 15px;font-weight:bolder;" >使用次数:</span><p style="display: inline-block;padding-left: 5px;font-size: 14px">{{usageCount}}</p>
                                </div>
                            </div>
                            <div>
                                <span style="font-size: 15px;font-weight:bolder;" >描述:</span><p style="display: inline-block;padding-left: 5px;font-size: 14px">{{description}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">字段详情查看</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-3" style="position: absolute; z-index: 1;">
                                <select  id="typeSelect" class="selectpicker" data-width="auto"  data-size="8">
                                    <option ng-repeat="x in selectType">{{x}}</option>
                                </select>
                            </div>
                            <div style="position: relative;z-index: 0;">
                                <table cellpadding="0" cellspacing="0" border="0" class="display" id="dataTable"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" >
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">字段分布图</h3>
                        </div>
                        <div class="panel-body">
                            <div id="container" style="min-width:670px;height:670px"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

</div>
</body>
</html>
