<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="文件处理">
    <meta name="author" content="CLD">

    <title>医疗数据匿名化软件</title>

    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" >
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" >
    <link href="/css/awesome-bootstrap-checkbox.css" rel="stylesheet" type="text/css">
    <link href="/css/metisMenu.min.css" rel="stylesheet">
    <!--<link href="/css/sb-admin-2.css" rel="stylesheet">-->
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/ngDialog.min.css" rel="stylesheet" >
    <link href="/css/ngDialog-theme-default.min.css" rel="stylesheet">
    <link href="/css/rzslider.min.css" rel="stylesheet" >
    <link href="/css/aliyun/console.min.css" rel="stylesheet" >
    <link href="/css/aliyun/main.css" type="text/css" rel="stylesheet" >
    <link href="/css/aliyun/viewframe.css" type="text/css" rel="stylesheet" >
    <link href="/css/custom/style.css" rel="stylesheet" type="text/css">



    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/metisMenu.min.js"></script>
    <script src="/js/sb-admin-2.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.buttons.min.js"></script>
    <script src="/js/dataTables.select.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/ngDialog.min.js"></script>
    <script src="/js/ng-file-upload.min.js"></script>
    <script src="/js/ng-file-upload-shim.min.js"></script>
    <script src="/js/rzslider.min.js"></script>
    <script src="/htmlTemplates/NavigationBar.js"></script>
    <script src="/htmlTemplates/AnonymizeConfigure.js"></script>
    <script src="/js/custom/FileProcessing.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="yundun-console-zh-lang-wrap hasTopbar hasSidebar sddp">

<div id="wrapper" data-ng-app="FileProcessingApp">
    <!-- Navigation -->
    <div  data-ng-controller="navigationBarCtrl">
        <ng-include src="'/htmlTemplates/NavigationBar.html'"></ng-include>
    </div>

    <div class="page-content" data-ng-controller="FileProcessingCtrl">
        <!--Menu-->
        <div class="wind-app-menu">
            <div class="wind-app-menu-title">
                <span class="wind-truncate wind-truncate-with-css" aria-haspopup="true" aria-expanded="false" style="max-width: 124px;">文件处理工具</span>
            </div>
            <div class="wind-app-menu-menu">
                <ul>
                    <li class="wind-app-menu-item " ng-class="{true:'wind-app-menu-item-active'}[page==0]" data-ng-click="page=0">
                        <span class="wind-truncate wind-truncate-with-css" style="max-width: 128px;">文件脱敏</span>
                    </li>
                    <li class="wind-app-menu-item " ng-class="{true:'wind-app-menu-item-active'}[page==1]" data-ng-click="page=1">
                        <span class="wind-truncate wind-truncate-with-css" style="max-width: 128px;">高级配置</span>
                    </li>
                </ul>
            </div>
        </div>
        <!--page Content-->
        <div class="product-view-container sddp">
            <div ng-show="page==0" >
                <div class="sky-card" style="margin-top: 70px">
                    <div class="card-head">
                        <span class="card-title">这个是文件处理工具，啦啦啦~</span>
                    </div>
                    <div class="card-content card-wide">
                        <form name="uploadForm"   method="post" enctype="multipart/form-data">
                            <div>
                                <!--  <input type="file" name="uploadFile" /> -->
                                <div class="row">
                                    <div class="col-md-2" >
                                        <div>
                                            <input type="file" ngf-select ngf-pattern="'.csv,.xls,.xlsx'" accept=".csv,.xls,.xlsx" multiple data-ng-model="files" name="files" id="file-1" class="inputfile inputfile-2" data-multiple-caption="{count} files selected" />
                                            <label for="file-1" title="注意！" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="right" data-content="只能处理excel,CSV文件。" >
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg>
                                                <span>选择文件&hellip;</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3" style="text-align: center;">
                                        <label style="font-size:15px;padding-right: 8px">匿名字段表:</label>
                                        <select id="fieldFromName" class="selectpicker" data-width="auto" data-live-search="true" data-size="10"></select>
                                    </div>
                                    <div class="col-md-3" style="text-align: center;">
                                        <label style="font-size:15px;padding-right: 8px">字典与规则:</label>
                                        <select id="regularLibName" class="selectpicker" data-width="auto" data-live-search="true" data-size="10"></select>
                                    </div>
                                    <div class="col-md-4" style="text-align: center;">
                                        <label style="font-size:15px;padding-right: 8px">匿名方式:</label>
                                        <select id="typeLevel"  class="selectpicker " data-width="250PX" data-size="10">
                                            <option value="Level1" data-subtext="研究向数据" select="selected">匿名方式一</option>
                                            <option value="Level2" data-subtext="发布向数据">匿名方式二</option>
                                        </select>
                                    </div>
                                </div>

                                <br>
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h7>  上传文件列表</h7></div>
                                    <table class="table">
                                        <tr>
                                            <th>#</th><th>文件名</th> <th>文件类型</th><th>文件大小(B)</th> <th>操作</th>
                                        </tr>
                                        <tr ng-repeat="f in filesList"  class="filelist">
                                            <td>
                                                {{$index+1}}
                                            </td>
                                            <td>
                                                {{f.name}}
                                            </td>
                                            <td>
                                                {{f.type}}
                                            </td>
                                            <td>
                                                {{f.size}}
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="deleteFileal($index)">删除</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div align="center">
                                    <input class="input-button-run-big" data-ng-click="uploadFile(filesList)" data-ng-show="!state" title='匿名化' type="image" src="/img/run.png"s/>
                                    <a href={{path}}><img class="dynamicImg" src={{loadingImg}} data-ng-show="state" ></a>
                                </div>
                                <!--上传进度条-->
                                <!--<div class="row">-->
                                <!--<div class="col-md-12">-->
                                <!--<div class="progress" style="margin-bottom: 10px;margin-top:10px">-->
                                <!--<div class="progress-bar progress-bar-success" role="progressbar"-->
                                <!--aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"-->
                                <!--style="width:{{progress}}%;" ng-bind="progress + '%'">-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--</div>-->

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div ng-show="page==1" data-ng-controller="anonymizeConfigureCtrl">
                <ng-include src="'/htmlTemplates/AnonymizeConfigure.html'"></ng-include>
            </div>
        </div>
    </div>
</div>
</body>
</html>
