<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>医疗数据匿名化工具 v1.0</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/metisMenu.min.css" rel="stylesheet">
    <link href="/css/sb-admin-2.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/metisMenu.min.js"></script>
    <script src="/js/sb-admin-2.js"></script>
    <script src="/js/highcharts.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/custom/Login.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper" data-ng-app="loginApp" data-ng-controller="loginCtrl" >
    <!-- Navigation -->
<div ng-include="'/htmlTemplates/Head.html'"></div>
    <!-- Page Content -->
    <div  id="page-wrapper" style="height: inherit;padding-left: 0px;padding-right: 0">
        <div class="container-fluid" style="background: url(img/login.jpg);background-size:100% 100%;background-repeat:no-repeat;height:800px;">
            <div class="row" style="">
                <div class="col-lg-8"></div>
                <div class="col-lg-3" style="padding-top: 10%">
                    <div class="well wel_lg" style="opacity: 0.8;position: absolute; z-index: 0;width: 350px;height: 300px;"></div>
                    <div style="position: relative;z-index: 1;padding-left: 30px;padding-right: 30px;width: 350px">
                        <form action="/login" method="post">
                            <h2 class="form-signin-heading">Please sign in</h2>
                            <hr style="color: black;background-color: black;border-color: black;width: 300px;margin-left: 0px;margin-right: 0px">
                            <div style="padding-right: 15px;padding-left: 15px">
                                <div class="input-group" style="width: 270px;height: 40px">
                                    <span class="input-group-addon" style="font-weight: bolder;width: 70px">用户名</span>
                                    <input type="text" id="username" name="username"  style="height: inherit" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
                                </div>
                                <br>
                                <div class="input-group" style="width: 270px;height: 40px">
                                    <span class="input-group-addon"style="font-weight: bolder;width: 70px">密码</span>
                                    <input type="password" id="password" name="password"  style="height: inherit" class="form-control" placeholder="Password" aria-describedby="sizing-addon1">
                                </div>
                                <div class="row" style="padding-top: 25px;padding-bottom: 10px">
                                    <div class="col-lg-1"></div>
                                    <div class="col-lg-8">
                                        <button style="" class="btn btn-lg btn-primary btn-block" type="submit">登&nbsp&nbsp入</button>
                                    </div>
                                    <div class="col-lg-2" style="padding-top: 20px;padding-left: 0px">
                                        <input type="submit" value="注册" style="border:0;cursor:pointer;background-color:transparent;" />
                                    </div>
                                </div>
                                <div th:if="${param.error}"style="padding-left: 55px">
                                    <label style="color: red">用户名或密码错误</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>