<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:color="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>数据匿名中心</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/metisMenu.min.css" rel="stylesheet">
    <link href="/css/bootstrap-select.min.css" rel="stylesheet" >
    <link href="/css/sb-admin-2.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet" >
    <link href="/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="/css/select.dataTables.min.css" rel="stylesheet">
    <link href="/css/editor.dataTables.min.css" rel="stylesheet">
    <link href="/css/ngDialog.min.css" rel="stylesheet" >
    <link href="/css/ngDialog-theme-default.min.css" rel="stylesheet">
    <link href="/css/aliyun/console.min.css" rel="stylesheet" >
    <link href="/css/aliyun/main.css" type="text/css" rel="stylesheet" >
    <link href="/css/aliyun/viewframe.css" type="text/css" rel="stylesheet" >
    <link href="/css/custom/style.css" rel="stylesheet" type="text/css">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/metisMenu.min.js"></script>
    <script src="/js/sb-admin-2.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.buttons.min.js"></script>
    <script src="/js/dataTables.select.min.js"></script>
    <script src="/js/dataTables.editor.min.js"></script>
    <script src="/js/highcharts.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/ngDialog.min.js"></script>
    <script src="/js/custom/MyFieldForm.js"></script>
    <script src="/htmlTemplates/NavigationBar.js"></script>
    <script src="/htmlTemplates/createNewForm.js"></script>
    <script src="/htmlTemplates/deleteForm.js"></script>
    <script src="/htmlTemplates/saveChange.js"></script>




    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="yundun-console-zh-lang-wrap hasTopbar hasSidebar sddp">

<div id="wrapper"  data-ng-app="myFieldFormApp">

    <!-- Navigation -->
    <div  data-ng-controller="navigationBarCtrl">
        <ng-include src="'/htmlTemplates/NavigationBar.html'"></ng-include>
    </div>

    <div class="page-content" data-ng-controller="myFieldFormCtrl">
        <!--Menu-->
        <div class="wind-app-menu">
            <div class="wind-app-menu-title">
                <span class="wind-truncate wind-truncate-with-css" aria-haspopup="true" aria-expanded="false" style="max-width: 124px;">文件处理工具</span>
            </div>
            <div class="wind-app-menu-menu">
                <ul>
                    <li class="wind-app-menu-item " ng-class="{true:'wind-app-menu-item-active'}[page==0]" data-ng-click="page=0">
                        <span class="wind-truncate wind-truncate-with-css" style="max-width: 128px;">字段管理</span>
                    </li>
                    <li class="wind-app-menu-item " ng-class="{true:'wind-app-menu-item-active'}[page==1]" data-ng-click="page=1">
                        <span class="wind-truncate wind-truncate-with-css" style="max-width: 128px;">字典规则</span>
                    </li>
                </ul>
            </div>
        </div>
        <!--page Content-->
        <div class="product-view-container sddp">
            <div ng-show="page==0" >
                <div class="sky-card" style="margin-top: 0px;margin-left: 0px;margin-right: 0px">
                    <div class="card-head-2">
                        <span class="card-title">字段管理</span>
                        <button class="btn btn-primary" data-ng-click="saveChange()" ng-show="ifedit" style="float: right;margin-right: 50px;margin-top: 3px" >提交修改</button>
                    </div>
                    <div class="card-content card-wide">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">表单列表</h3>
                                    </div>
                                    <div class="panel-body" style="max-height:700px;overflow-y: auto ">
                                        <div ng-repeat="x in formNameList" class="alert alert-info" role="alert" style="padding-top: 10px;padding-bottom: 10px;padding-left: 10px;padding-right: 5px">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <span style="font-size: 13px;font-weight: bold">{{x}}</span>
                                                </div>
                                                <div class="col-lg-4">
                                                    <input data-ng-click="editForm(x)" title='编辑' type="image" src="/img/edit.png" style="display: inline-block;width: 15px;height: 15px" />
                                                    <input data-ng-click="deleteForm(x)" title='删除' type="image" src="/img/delete.png" style="display: inline-block;width: 15px;height: 15px" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="alert alert-info" role="alert" style="text-align:center;padding-top: 5px;padding-bottom: 5px;padding-left: 10px;padding-right: 5px;margin-bottom: 0px">
                                            <button type="button" data-ng-click="createNewForm()" style="border:0;cursor:pointer;background-color:transparent;font-weight: bolder">添加新的表单</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">表单基本信息</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <span style="font-size: 15px;font-weight:bolder;" >表名:</span>
                                                <input ng-value="newFormName" ng-model="newFormName" style="border-style:none;border-bottom-style:dotted;border-bottom-color: black;width: auto;">
                                            </div>
                                            <div class="col-lg-4">
                                                <span style="font-size: 15px;font-weight:bolder;">创建者:</span><p style="display: inline-block;padding-left: 5px;font-size: 14px">{{userName}}</p>
                                            </div>
                                            <div class="col-lg-4">
                                                <span style="font-size: 15px;font-weight:bolder;" >模板:</span><p style="display: inline-block;padding-left: 5px;font-size: 14px">{{father}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <span style="font-size: 15px;font-weight:bolder;" >创建日期:</span><p style="display: inline-block;padding-left: 5px;font-size: 14px">{{createTime}}</p>
                                            </div>
                                            <div class="col-lg-4">
                                                <span style="font-size: 15px;font-weight:bolder;" >最近修改日期:</span><p style="display: inline-block;padding-left: 5px;font-size: 14px">{{lastChangeTime}}</p>
                                            </div>
                                            <div class="col-lg-4">
                                                <span style="font-size: 15px;font-weight:bolder;" >使用次数:</span><p style="display: inline-block;padding-left: 5px;font-size: 14px">{{usageCount}}</p>
                                            </div>
                                        </div>
                                        <div>
                                            <span style="font-size: 15px;font-weight:bolder;" >描述:</span>
                                            <input ng-value="description" ng-model="description" style="border-style:none;border-bottom-style:dotted;border-bottom-color: black;width: 400px;">
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-info" >
                                    <div class="panel-heading">
                                        <h3 class="panel-title">字段详情查看</h3>
                                    </div>
                                    <div class="panel-body" >
                                        <div style="position:absolute; z-index: 1;left:150px;">
                                            <select id="typeSelect" class="selectpicker"   data-width="auto"  data-size="8">
                                                <option ng-repeat="x in selectType" value="x">{{x}}</option>
                                            </select>
                                        </div>
                                        <div style="position: relative;z-index: 0;">
                                            <table id="table" class="display" cellspacing="0" width="100%">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>字段名</th>
                                                    <th>字段类型</th>
                                                </tr>
                                                </thead>
                                            </table>`
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4" >
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">字段分布图</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div id="container" style="min-width:350px;height:350px"></div>
                                    </div>
                                </div>
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">修改日志</h3>
                                    </div>
                                    <div class="panel-body" style="max-height:265px;overflow-y: auto">
                                        <div ng-repeat="x in fieldChangeLog" class="alert alert-info" role="alert" style="padding-top: 10px;padding-bottom: 10px;padding-left: 10px;padding-right: 5px">
                                            <div class="row">
                                                <div class="col-lg-10">
                                                    <span style="font-size: 13px;font-weight:bold;" >修改时间:</span><p style="display: inline-block;padding-left: 5px;font-size: 14px;margin-bottom: 0px">{{x.dateTime}}</p>
                                                    <span style="font-size: 13px;font-weight:bold;" >描述:</span>
                                                    <span style="display: inline-block;padding-left: 5px;font-size: 14px;margin-bottom: 0px">{{x.description}}</span>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input data-ng-click="lookChangeLog(x.changeLog)" title='查看详情' type="image" src="/img/look.png" style="display: inline-block;width: 20px;height: 20px" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="page==1" >
                <div class="sky-card" style="margin-top: 0px;margin-left: 0px;margin-right: 0px">
                    <div class="card-head-2">
                        <span class="card-title">字典规则</span>
                        <button class="btn btn-primary" data-ng-click="saveChange()" ng-show="ifedit" style="float: right;margin-right: 50px;margin-top: 3px" >提交修改</button>
                    </div>
                    <div class="card-content card-wide">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">我的规则库</h3>
                                    </div>
                                    <div class="panel-body" style="max-height:300px;overflow-y: auto ">
                                        <div ng-repeat="x in formNameList" class="alert alert-info" role="alert" style="padding-top: 10px;padding-bottom: 10px;padding-left: 10px;padding-right: 5px">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <span style="font-size: 13px;font-weight: bold">{{x}}</span>
                                                </div>
                                                <div class="col-lg-4">
                                                    <input data-ng-click="editForm(x)" title='编辑' type="image" src="/img/edit.png" style="display: inline-block;width: 15px;height: 15px" />
                                                    <input data-ng-click="deleteForm(x)" title='删除' type="image" src="/img/delete.png" style="display: inline-block;width: 15px;height: 15px" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="alert alert-info" role="alert" style="text-align:center;padding-top: 5px;padding-bottom: 5px;padding-left: 10px;padding-right: 5px;margin-bottom: 0px">
                                            <button type="button" data-ng-click="createNewForm()" style="border:0;cursor:pointer;background-color:transparent;font-weight: bolder">添加新的表单</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">基本信息</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div style="margin-bottom:5px">
                                            <span style="font-size: 15px;font-weight:bolder;" >库名:</span>
                                            <input ng-value="newFormName" ng-model="newFormName" style="border-style:none;border-bottom-style:dotted;border-bottom-color: black;">
                                        </div>
                                        <div style="margin-bottom:5px">
                                            <span style="font-size: 15px;font-weight:bolder;">创建者:</span><p style="display: inline-block;padding-left: 5px;font-size: 14px">{{userName}}</p>
                                        </div>
                                        <div style="margin-bottom:5px">
                                            <span style="font-size: 15px;font-weight:bolder;" >创建日期:</span><p style="display: inline-block;padding-left: 5px;font-size: 14px">{{createTime}}</p>
                                        </div>
                                        <div style="margin-bottom:5px">
                                            <span style="font-size: 15px;font-weight:bolder;" >最近修改日期:</span><p style="display: inline-block;padding-left: 5px;font-size: 14px">{{lastChangeTime}}</p>
                                        </div>
                                        <div style="margin-bottom:5px">
                                            <span style="font-size: 15px;font-weight:bolder;" >描述:</span>
                                            <input ng-value="description" ng-model="description" style="border-style:none;border-bottom-style:dotted;border-bottom-color: black;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">字典</h3>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table" >
                                            <tr>
                                                <th>#</th><th>文件名</th> <th>文件描述</th><th>上传日期</th><th>操作</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    2
                                                </td>
                                                <td>
                                                    3
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-danger btn-xs" ng-click="deleteFileal($index)">删除</button>
                                                    <button type="button" class="btn btn-info btn-xs" ng-click="">下载</button>
                                                    <button type="button" class="btn btn-success btn-xs" ng-click="">测试</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">规则制定</h3>
                                    </div>
                                    <div class="panel-body">
                                        <table class="display" cellspacing="0" width="100%">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th>字段名</th>
                                                <th>字段类型</th>
                                            </tr>
                                            </thead>
                                        </table>`
                                    </div>
                                </div>
                            </div>



                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</div>
</body>
</html>
