<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>数据匿名中心</title>

    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" >
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" >
    <link href="/css/awesome-bootstrap-checkbox.css" rel="stylesheet" type="text/css">
    <link href="/css/metisMenu.min.css" rel="stylesheet">
    <link href="/css/sb-admin-2.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/custom/style.css" rel="stylesheet" type="text/css">
    <link href="/css/ngDialog.min.css" rel="stylesheet" >
    <link href="/css/ngDialog-theme-default.min.css" rel="stylesheet">
    <link href="/css/rzslider.min.css" rel="stylesheet" >


    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/metisMenu.min.js"></script>
    <script src="/js/sb-admin-2.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.buttons.min.js"></script>
    <script src="/js/dataTables.select.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/ngDialog.min.js"></script>
    <script src="/js/ng-file-upload.min.js"></script>
    <script src="/js/ng-file-upload-shim.min.js"></script>
    <script src="/js/rzslider.min.js"></script>
    <script src="/htmlTemplates/Head.js"></script>
    <script src="/htmlTemplates/AnonymizeConfigure.js"></script>
    <script src="/js/custom/FileProcessing.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper" data-ng-app="FileProcessingApp">
    <!-- Navigation -->
    <div  data-ng-controller="headCtrl">
        <ng-include src="'/htmlTemplates/Head.html'"></ng-include>
    </div>

    <!-- Page Content -->
    <div class="ng-scope" id="page-wrapper"  data-ng-controller="FileProcessingCtrl">
        <div class="container padding-top-120">
            <div class="row">
                <div class="col-lg-11">
                    <h3> 文件上传</h3>
                </div>
                <div class="col-lg-1">
                    <input data-ng-click="anonymizeConfigure(x)" title='配置' type="image" src="/img/Configuration.png" style="display: inline-block;width: 25px;height: 25px;margin-top: 25px" />
                </div>
            </div>
            <hr>
            <form name="uploadForm"   method="post" enctype="multipart/form-data">
                <div>
                    <!--  <input type="file" name="uploadFile" /> -->
                    <div class="row">
                        <div class="col-md-2" >
                            <div class="box">
                                <input type="file" ngf-select multiple data-ng-model="files" name="files" id="file-1" class="inputfile inputfile-2" data-multiple-caption="{count} files selected" />
                                <label for="file-1" title="注意！" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="right" data-content="只能处理excel,CSV文件。" >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg>
                                    <span>选择文件&hellip;</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6" style="text-align: center;">
                            <label style="font-size:15px;padding-right: 8px">匿名字段表:</label>
                            <select id="fromName" class="selectpicker" data-width="auto" data-live-search="true" data-size="10"></select>
                        </div>
                        <div class="col-md-4" style="text-align: center;">
                            <label style="font-size:15px;padding-right: 8px">匿名方式:</label>
                            <select id="typeLevel"data-ng-model="selectTypelevel"  class="selectpicker " data-width="250PX" data-size="10">
                                <option value="Level1" data-subtext="研究向数据" select="selected">匿名方式一</option>
                                <option value="Level2" data-subtext="发布向数据">匿名方式二</option>
                            </select>
                        </div>
                    </div>

                    <br>
                    <div class="panel panel-default">
                        <div class="panel-heading"><p>  上传文件列表</p></div>
                        <table class="table">
                            <tr>
                                <th>#</th><th>文件名</th> <th>文件类型</th><th>文件大小(B)</th> <th>操作</th>
                            </tr>
                            <tr ng-repeat="f in filesList"  class="filelist">
                                <td>
                                    {{$index+1}}
                                </td>
                                <td>
                                    {{f.name}}
                                </td>
                                <td>
                                    {{f.type}}
                                </td>
                                <td>
                                    {{f.size}}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="deleteFileal($index)">删除</button>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row">
                        <div class="col-md-1">
                            <button type="button"    class="btn btn-primary"   ng-click="uploadPic(filesList);">匿名化</button>
                        </div>
                        <div class="col-md-11">
                            <div class="progress" style="margin-bottom: 10px;margin-top:10px">
                                <div class="progress-bar progress-bar-success" role="progressbar"
                                     aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                     style="width:{{progress}}%;" ng-bind="progress + '%'">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>

            <hr>
            <h3> 文件下载</h3>
            <hr>
            <div style="text-align: center;">
                <a href={{path}}><img src={{loadingImg}} data-ng-show="state" ></a>
            </div>

        </div>

    </div>
</div>
</body>
</html>
