<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>数据匿名中心</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/metisMenu.min.css" rel="stylesheet">
    <link href="/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" >
    <link href="/css/sb-admin-2.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet" >
    <link href="/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="/css/select.dataTables.min.css" rel="stylesheet">
    <link href="/css/editor.dataTables.min.css" rel="stylesheet">
    <link href="/css/custom/style.css" rel="stylesheet" type="text/css">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/metisMenu.min.js"></script>
    <script src="/js/sb-admin-2.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.buttons.min.js"></script>
    <script src="/js/dataTables.select.min.js"></script>
    <script src="/js/dataTables.editor.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-popups.js"></script>
    <script src="/js/custom/SysManage.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper" data-ng-app="sysManageApp" data-ng-controller="sysManageCtrl">

    <!-- Navigation -->
    <div ng-include="'/htmlTemplates/Head.html'"></div>

    <!-- Page Content -->
    <div  id="page-wrapper">
        <div class="container-fluid">
            <div class="row  page-header">
                <div class="col-lg-2">
                    <h1>系统管理</h1>
                </div>
                <div class="col-lg-8"></div>
                <div class="col-lg-2" style="text-align: right">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-4">
                    <h2 style="padding-top: 50px;padding-bottom: 50px">节点文件备份</h2>
                    <div data-ng-click="jdbf={open: true}"><img src="/img/backUp.png" style="height: 180px;width: 180px" ></div>
                    <dialog ng-if="jdbf.open" modal  close="jdbf.open=false">
                        <div dialog-title>节点文件备份</div>
                        <div dialog-content>注意：备份文件存储于resources文件夹！</div>
                        <div dialog-buttons><button data-ng-click="$close();jdbackUp()">确定</button><button ng-click="$close()">取消</button></div>
                    </dialog>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                    <h2 style="padding-top: 50px;padding-bottom:50px">节点文件重置</h2>
                    <div data-ng-click="jdcz={open: true}"><img src="/img/reset.png" style="height: 180px;width: 180px"></div>
                    <dialog ng-if="jdcz.open" modal  close="jdcz.open=false">
                        <div dialog-title>节点文件重置</div>
                        <div dialog-content>注意：节点信息重置后无法还原！</div>
                        <div dialog-buttons><button data-ng-click="$close();jdreset()">确定</button><button ng-click="$close()">取消</button></div>
                    </dialog>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-4">
                    <h2 style="padding-top: 50px;padding-bottom: 50px">字段表下载</h2>
                    <div data-ng-click="zdbf={open: true}"><img src="/img/backUp.png" style="height: 180px;width: 180px" ></div>
                    <dialog ng-if="zdbf.open" modal  close="zdbf.open=false">
                        <div dialog-title>字段表下载</div>
                        <div dialog-content>注意：备份文件存储于resources文件夹！</div>
                        <div dialog-buttons><button data-ng-click="$close();zdbackUp()">确定</button><button ng-click="$close()">取消</button></div>
                    </dialog>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                    <h2 style="padding-top: 50px;padding-bottom: 50px">字段表添加</h2>
                    <div data-ng-click="zdcz={open: true}"><img src="/img/reset.png" style="height: 180px;width: 180px"></div>
                    <dialog ng-if="zdcz.open" modal  close="zdcz.open=false">
                        <div dialog-title>字段表添加</div>
                        <div dialog-content>注意：将覆盖同名的原字段表(Original除外)！</div>
                        <div dialog-buttons><button data-ng-click="$close();zdreset()">确定</button><button ng-click="$close()">取消</button></div>
                    </dialog>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->


</div>
</body>
</html>
