<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>数据匿名中心</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/metisMenu.min.css" rel="stylesheet">
    <link href="/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" >
    <link href="/css/sb-admin-2.css" rel="stylesheet">
    <link href="/css/custom/style.css" rel="stylesheet">
    <link href="/css/jquery.dataTables.css" rel="stylesheet" type="text/css" >
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/jquery.dataTables.js"></script>
    <script src="/js/metisMenu.min.js"></script>
    <script src="/js/sb-admin-2.js"></script>
    <script src="/js/highcharts.js"></script>
    <script src="/js/highcharts-zh_CN.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/custom/UsageDetail.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">医疗数据匿名化工具 v1.0</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <span class="glyphicon glyphicon-th" style="padding-bottom:20px;padding-left:15px;padding-top:20px;font-size: 20px">&nbsp;&nbsp;&nbsp;目录</span>
                    </li>

                    <li>
                        <a href="/FileProcessing"><i class="fa fa-files-o fa-fw"></i>&nbsp;文件处理</a>
                    </li>

                    <li class="active">
                        <a href="#"><i class="fa fa-dashboard fa-fw"></i>&nbsp;接口监控<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/UsageOverView"><span class="glyphicon glyphicon-book"></span>&nbsp;使用总览</a>
                            </li>
                            <li>
                                <a href="/UsageDetail"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;使用细节</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>

                    <li class="active">
                        <a href="#"><i class="fa fa-wrench fa-fw"></i>&nbsp;字段维护<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/PrivacyFieldOverView"><span class="glyphicon glyphicon-tags"></span>&nbsp;字段总览</a>
                            </li>
                            <li>
                                <a href="/PrivacyFieldModify"><span class="glyphicon glyphicon-tag"></span>&nbsp;字段修改</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <!-- Page Content -->
    <div data-ng-app="usageDetailApp" data-ng-controller="usageDetailCtrl"  id="page-wrapper">
        <div class="container-fluid">
            <h1 class="page-header">使用细节</h1>
            <div class="row">
                <div class="col-lg-12">
                    <label style="font-size:15px;">用户选择:</label>
                    <select id="Select" class="selectpicker" data-width="200PX" > </select>
                    <div class="row" style="margin-top: 100px">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-7">
                            <table class="table display" id="list-table" width="700px">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>使用时间</th>
                                    <th>数据条数</th>
                                    <th>匿名方式</th>
                                    <th>字段</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="col-lg-3"></div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
</body>
</html>
