<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>数据匿名中心</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/metisMenu.min.css" rel="stylesheet">
    <link href="/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" >
    <link href="/css/sb-admin-2.css" rel="stylesheet">
    <link href="/css/custom/style.css" rel="stylesheet">
    <link href="/css/jquery.dataTables.css" rel="stylesheet" type="text/css" >
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/jquery.dataTables.js"></script>
    <script src="/js/metisMenu.min.js"></script>
    <script src="/js/sb-admin-2.js"></script>
    <script src="/js/highcharts.js"></script>
    <script src="/js/highcharts-zh_CN.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/custom/UsageDetail.js"></script>
    <script src="/htmlTemplates/Head.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper" data-ng-app="usageDetailApp">

    <!-- Navigation -->
    <div data-ng-controller="headCtrl">
        <ng-include src="'/htmlTemplates/Head.html'"></ng-include>
    </div>
    <!-- Page Content -->
    <div id="page-wrapper"  data-ng-controller="usageDetailCtrl">
        <div class="container-fluid">
            <h1 class="page-header">使用细节</h1>
            <div class="row">
                <div class="col-lg-12">
                    <label style="font-size:15px;">用户选择:</label>
                    <select id="Select" class="selectpicker" data-width="200PX" > </select>
                    <div class="row" style="margin-top: 100px">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-7">
                            <table class="table display" id="list-table" width="700px">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>使用时间</th>
                                    <th>数据条数</th>
                                    <th>匿名方式</th>
                                    <th>字段</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="col-lg-3"></div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
</body>
</html>
