
<div style="padding-left: 20px;width: 500px">
    <div style="height:35px;border-bottom:2px solid rgba(123,121,122,0.49);padding-bottom: 6px">
        <span style="font-size: large;font-weight: bold">新建表单</span>
    </div>
    <div class="input-group" style="width: 450px;margin-top: 25px;margin-left: 10px">
        <span class="input-group-addon"style="font-weight: bold;width: 120px" >模板选择：</span>
        <select id="Select" class="selectpicker form-control" data-live-search="true" data-size="10" ></select>
    </div>
    <br>
    <div class="input-group" style="width: 450px;margin-top: 15px;margin-left: 10px">
        <span class="input-group-addon"style="font-weight: bold;width: 120px" >命名：</span>
        <input type="text" class="form-control" ng-value="formNewName" ng-model="formNewName" placeholder="新建表单名~" >
    </div>
    <br>
    <div class="input-group" style="width: 450px;margin-top: 15px;margin-left: 10px">
        <span class="input-group-addon"style="font-weight: bold;width: 120px" >描述：</span>
        <input type="text" class="form-control" ng-model="description" placeholder="对于新建表单的描述~" aria-describedby="basic-addon1">
    </div>
    <div align="center" style="padding-top: 30px">
        <button data-ng-click="create()" class="btn btn-lg btn-primary btn-block" style="width: 200px">创&nbsp&nbsp建</button>
    </div>
</div>


