
<div style="padding-left: 20px;width: 500px">
    <div style="height:35px;border-bottom:2px solid rgba(123,121,122,0.49);padding-bottom: 6px">
        <span style="font-size: large;font-weight: bold">新建规则</span>
    </div>
    <br>
    <div class="input-group" style="width: 450px;margin-top: 15px;margin-left: 10px">
        <span class="input-group-addon"style="font-weight: bold;width: 120px" >一级规则：</span>
        <input type="text" class="form-control" ng-value="area" ng-model="area" >
    </div>
    <br>
    <div class="input-group" style="width: 450px;margin-top: 15px;margin-left: 10px">
        <span class="input-group-addon"style="font-weight: bold;width: 120px" >二级规则：</span>
        <input type="text" class="form-control" ng-value="aims" ng-model="aims" >
    </div>
    <div align="center" style="padding-top: 30px">
        <button data-ng-click="create()" class="btn btn-lg btn-primary btn-block" style="width: 200px">创&nbsp&nbsp建</button>
    </div>
</div>