<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div ng-controller="registeredCtrl">
    <div style="height:35px;border-bottom:2px solid rgba(123,121,122,0.49);padding-bottom: 6px">
        <span style="font-size: large;font-weight: bold">用户注册</span>
    </div>
    <div style="padding-right: 15px;padding-left: 15px">
        <div class="input-group" style="width: 270px;height: 40px;margin-left: 30px;margin-top: 25px">
            <span class="input-group-addon" style="font-weight: bolder;width: 70px">用户名</span>
            <input type="text" ng-model="user" style="height: inherit" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
        </div>
        <br>
        <div class="input-group" style="width: 270px;height: 40px;margin-left: 30px;">
            <span class="input-group-addon"style="font-weight: bolder;width: 70px">密码</span>
            <input type="password" ng-model="password"  style="height: inherit" class="form-control" placeholder="Password" aria-describedby="sizing-addon1">
        </div>
        <div style="margin-top: 25px;margin-left: 45px;">
            <button data-ng-click="register()" class="btn btn-lg btn-primary btn-block" style="width: 240px" >注&nbsp&nbsp册</button>
        </div>
    </div>
</div>
</body>
</html>