<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <div style="border-bottom:2px solid rgba(123,121,122,0.49);padding-bottom: 6px">
            <span style="font-size: large;font-weight: bold">保存当前表单修改</span>
        </div>
        <div style="margin-top: 10px">
            <span style="padding-left: 10px">更改原因：</span>
        </div>
        <div style="margin-top: 5px;margin-left: 25px">
            <textarea  ng-value="logDescription" ng-model="logDescription" style="height: 60px;width: 270px;resize: none; " ></textarea>
        </div>
        <div style="margin-top: 10px">
            <img src="/img/danger.png" style="height: 25px;width: 25px;margin-left: 25px">
            <span style="font-size: large;padding-left: 8px;">注意：修改之后将无法还原！</span>
        </div>
    </div>
    <div align="center" style="padding-top: 10px">
        <button type="button" class="btn btn-warning" data-ng-click="saveChange()" >确认修改</button>
    </div>
</body>
</html>