<div class="sky-card" style="margin-top: 0px;margin-left: 0px;margin-right: 0px">
    <div class="card-head-2">
        <span class="card-title">字典规则</span>
        <button class="btn btn-primary" data-ng-click="saveChange()" ng-show="ifedit" style="float: right;margin-right: 50px;margin-top: 3px" >提交修改</button>
    </div>
    <div class="card-content card-wide">
        <div class="row">
            <div class="col-lg-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">我的规则库</h3>
                    </div>
                    <div class="panel-body" style="max-height:300px;overflow-y: auto ">
                        <div ng-repeat="x in regularLibList" class="alert alert-info" role="alert" style="padding-top: 10px;padding-bottom: 10px;padding-left: 10px;padding-right: 5px">
                            <div class="row">
                                <div class="col-lg-8">
                                    <span style="font-size: 13px;font-weight: bold">{{x.libName}}</span>
                                </div>
                                <div class="col-lg-4">
                                    <input data-ng-click="editForm(x.libName)" title='编辑' type="image" src="/img/edit.png" style="display: inline-block;width: 15px;height: 15px" />
                                    <input data-ng-click="deleteForm(x.libName)" title='删除' type="image" src="/img/delete.png" style="display: inline-block;width: 15px;height: 15px" />
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-info" role="alert" style="text-align:center;padding-top: 5px;padding-bottom: 5px;padding-left: 10px;padding-right: 5px;margin-bottom: 0px">
                            <button type="button" data-ng-click="createNewForm()" style="border:0;cursor:pointer;background-color:transparent;font-weight: bolder">添加新的表单</button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">基本信息</h3>
                    </div>
                    <div class="panel-body">
                        <div style="margin-bottom:5px">
                            <span style="font-size: 15px;font-weight:bolder;" >库名:</span>
                            <input ng-value="regularLib.new_libName" ng-model="regularLib.new_libName" style="border-style:none;border-bottom-style:dotted;border-bottom-color: black;">
                        </div>
                        <div style="margin-bottom:5px">
                            <span style="font-size: 15px;font-weight:bolder;">创建者:</span><p style="display: inline-block;padding-left: 5px;font-size: 14px">{{regularLib.user}}</p>
                        </div>
                        <div style="margin-bottom:5px">
                            <span style="font-size: 15px;font-weight:bolder;" >创建日期:</span><p style="display: inline-block;padding-left: 5px;font-size: 14px">{{regularLib.createTime}}</p>
                        </div>
                        <div style="margin-bottom:5px">
                            <span style="font-size: 15px;font-weight:bolder;" >最近修改日期:</span><p style="display: inline-block;padding-left: 5px;font-size: 14px">{{regularLib.changeTime}}</p>
                        </div>
                        <div style="margin-bottom:5px">
                            <span style="font-size: 15px;font-weight:bolder;" >描述:</span>
                            <input ng-value="regularLib.new_description" ng-model="regularLib.new_description" style="border-style:none;border-bottom-style:dotted;border-bottom-color: black;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <span class="panel-title">字典</span>
                                <input data-ng-click="uploadDictionary()" ng-show="ifedit" title='文件上传' type="image" src="/img/upload.png" align="right" style="display: inline-block;width: 18px;height: 18px;margin-right: 20px" />
                            </div>
                            <div class="panel-body">
                                <table class="table" >
                                    <tr>
                                        <th>#</th><th>文件名</th> <th>文件描述</th><th>上传日期</th><th>操作</th>
                                    </tr>
                                    <tr ng-repeat="dictionary in dictionaryList">
                                        <td>
                                            {{$index+1}}
                                        </td>
                                        <td>
                                            {{dictionary.fileName}}
                                        </td>
                                        <td>
                                            {{dictionary.description}}
                                        </td>
                                        <td>
                                            {{dictionary.uploadTime}}
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-xs" ng-click="deleteDictionary(dictionary.fileName)">删除</button>
                                            <button type="button" class="btn btn-info btn-xs" ng-click="downloadDictionary(dictionary.fileName)">下载</button>
                                            <button type="button" class="btn btn-success btn-xs" ng-click="">测试</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <span class="panel-title">我的规则</span>
                                <input data-ng-click="createNewRegular()" title='新建规则' ng-show="ifedit" type="image" src="/img/new_regular.png" align="right" style="display: inline-block;width: 18px;height: 18px;margin-right: 20px" />
                            </div>
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <th>#</th><th>一级规则</th> <th>二级规则</th><th>操作</th>
                                    </tr>
                                    <tr ng-repeat="regular in regularList">
                                        <td>
                                            {{$index+1}}
                                        </td>
                                        <td>
                                            {{regular.area}}
                                        </td>
                                        <td>
                                            {{regular.aims}}
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-xs" ng-click="deleteRegular(regular.id)">删除</button>
                                            <button type="button" class="btn btn-info btn-xs" ng-click="changeRegular(regular)">修改</button>
                                            <button type="button" class="btn btn-success btn-xs" ng-click="">测试</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <span class="panel-title">规则测试</span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="sky-card">
                                        <div class="card-head">
                                            <span class="card-title">模式选择</span>
                                        </div>
                                        <div class="card-content">
                                            <div class="checkbox">
                                                <label><input type="checkbox" value="">系统字典</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" value="">系统规则</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" value="">我的字典</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" value="">我的规则</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="sky-card">
                                        <div class="card-head">
                                            <span class="card-title">测试文本</span>
                                        </div>
                                        <div class="card-content">
                                            <textarea  ng-value="testText" ng-model="testText" style="height: 40px;width: 190px;resize: none; " ></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="sky-card">
                                        <div class="card-head">
                                            <span class="card-title">测试结果</span>
                                        </div>
                                        <div class="card-content">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>

    </div>
</div>
