<div class="sky-card" style="margin-top: 0px;margin-left: 0px;margin-right: 0px">
    <div class="card-head-2">
        <span class="card-title">字段管理</span>
        <button class="btn btn-primary" data-ng-click="saveChange()" ng-show="ifedit" style="float: right;margin-right: 50px;margin-top: 3px" >提交修改</button>
    </div>
    <div class="card-content card-wide">
        <div class="row">
            <div class="col-lg-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">表单列表</h3>
                    </div>
                    <div class="panel-body" style="max-height:700px;overflow-y: auto ">
                        <div ng-repeat="x in formNameList" class="alert alert-info" role="alert" style="padding-top: 10px;padding-bottom: 10px;padding-left: 10px;padding-right: 5px">
                            <div class="row">
                                <div class="col-lg-8">
                                    <span style="font-size: 13px;font-weight: bold">{{x}}</span>
                                </div>
                                <div class="col-lg-4">
                                    <input data-ng-click="editForm(x)" title='编辑' type="image" src="/img/edit.png" style="display: inline-block;width: 15px;height: 15px" />
                                    <input data-ng-click="deleteForm(x)" title='删除' type="image" src="/img/delete.png" style="display: inline-block;width: 15px;height: 15px" />
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-info" role="alert" style="text-align:center;padding-top: 5px;padding-bottom: 5px;padding-left: 10px;padding-right: 5px;margin-bottom: 0px">
                            <button type="button" data-ng-click="createNewForm()" style="border:0;cursor:pointer;background-color:transparent;font-weight: bolder">添加新的表单</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">表单基本信息</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <span style="font-size: 15px;font-weight:bolder;" >表名:</span>
                                <input ng-value="newFormName" ng-model="newFormName" style="border-style:none;border-bottom-style:dotted;border-bottom-color: black;width: auto;">
                            </div>
                            <div class="col-lg-4">
                                <span style="font-size: 15px;font-weight:bolder;">创建者:</span><p style="display: inline-block;padding-left: 5px;font-size: 14px">{{userName}}</p>
                            </div>
                            <div class="col-lg-4">
                                <span style="font-size: 15px;font-weight:bolder;" >模板:</span><p style="display: inline-block;padding-left: 5px;font-size: 14px">{{father}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <span style="font-size: 15px;font-weight:bolder;" >创建日期:</span><p style="display: inline-block;padding-left: 5px;font-size: 14px">{{createTime}}</p>
                            </div>
                            <div class="col-lg-4">
                                <span style="font-size: 15px;font-weight:bolder;" >最近修改日期:</span><p style="display: inline-block;padding-left: 5px;font-size: 14px">{{lastChangeTime}}</p>
                            </div>
                            <div class="col-lg-4">
                                <span style="font-size: 15px;font-weight:bolder;" >使用次数:</span><p style="display: inline-block;padding-left: 5px;font-size: 14px">{{usageCount}}</p>
                            </div>
                        </div>
                        <div>
                            <span style="font-size: 15px;font-weight:bolder;" >描述:</span>
                            <input ng-value="description" ng-model="description" style="border-style:none;border-bottom-style:dotted;border-bottom-color: black;width: 400px;">
                        </div>
                    </div>
                </div>
                <div class="panel panel-info" >
                    <div class="panel-heading">
                        <h3 class="panel-title">字段详情查看</h3>
                    </div>
                    <div class="panel-body" >
                        <div style="position:absolute; z-index: 1;left:150px;">
                            <select id="typeSelect" class="selectpicker"   data-width="auto"  data-size="8">
                                <option ng-repeat="x in selectType" value="x">{{x}}</option>
                            </select>
                        </div>
                        <div style="position: relative;z-index: 0;">
                            <table id="table" class="display" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>字段名</th>
                                    <th>字段类型</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4" >
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">字段分布图</h3>
                    </div>
                    <div class="panel-body">
                        <div id="container" style="min-width:350px;height:350px"></div>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">修改日志</h3>
                    </div>
                    <div class="panel-body" style="max-height:265px;overflow-y: auto">
                        <div ng-repeat="x in fieldChangeLog" class="alert alert-info" role="alert" style="padding-top: 10px;padding-bottom: 10px;padding-left: 10px;padding-right: 5px">
                            <div class="row">
                                <div class="col-lg-10">
                                    <span style="font-size: 13px;font-weight:bold;" >修改时间:</span><p style="display: inline-block;padding-left: 5px;font-size: 14px;margin-bottom: 0px">{{x.dateTime}}</p>
                                    <span style="font-size: 13px;font-weight:bold;" >描述:</span>
                                    <span style="display: inline-block;padding-left: 5px;font-size: 14px;margin-bottom: 0px">{{x.description}}</span>
                                </div>
                                <div class="col-lg-2">
                                    <input data-ng-click="lookChangeLog(x.changeLog)" title='查看详情' type="image" src="/img/look.png" style="display: inline-block;width: 20px;height: 20px" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
